.login-background {
  background-color: #aaa;
  display: flex;
  align-items: center;
  height: 100vh;
  z-index: -2;
}

.signup-modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.signup-modal-content {
  border-radius: 3px;
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 3em;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  position: relative;
  display: flex;
  justify-content: center;
}
.signup-modal-content form input[type="text"],
.login-form input[type="text"],
.login-form input[type="password"],
.signup-modal-content form input[type="password"],
.signup-modal-content form input[type="email"] {
  justify-content: center;
  outline: none;
  border-style: none;
  border-bottom: 1px solid black;
  margin-block-end: 1.33em;
  width: 18vw;
}
.signup-modal-content form input[type="text"]::placeholder,
.signup-modal-content form input[type="text"]::placeholder,
.signup-modal-content form input[type="password"]::placeholder,
.signup-modal-content form input[type="email"]::placeholder,
.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
  font-size: large;
}

.login-body {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  width: 50%;
  padding: 6em 3em 6em 0em;
  margin: auto auto;
  justify-content: center;

  background-color: rgb(253, 253, 253);
}
.login-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-logo img {
  width: 20vw;
  object-fit: cover;
}
.login-form {
  width: 65%;
}
.login-form input[type="submit"] {
  margin-left: -6px;
}
