.navbar {
  background-color: #eee;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
  width: 97vw;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0px 10px;
}
.navbar-buttons div {
  padding: 0px 2vw 0px 2vw;
  font-weight: bold;
}
.navbar-buttons a {
  margin: 0 5px;
}

.icon-menu-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.icon-menu {
  background-color: rgb(247, 247, 247);
  border: 1px grey solid;
  border-radius: 3px;
  position: absolute;
  width: 30vw;
  height: 70vh;
  padding: 1vh;
  overflow-y: auto;
  left: 2vw;
  top: 7vh;
  z-index: 1;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}
.icon-menu::-webkit-scrollbar {
  display: none;
}
.icon-menu button {
  background-color: rgb(247, 247, 247);
}
.icon-menu-header {
  display: flex;
}

.navbar-user {
  display: flex;
}
.user-icon {
  font-size: 2em;
}
.unread-notifications-count {
  border-radius: 50%;
  background-color: rgb(187, 40, 40);
  color: white;
  display: flex;
  font-weight: bold;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  height: 1.3em;
  width: 1.3em;
}

.notification-unread {
  border-radius: 3px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.notification-read {
  font-weight: lighter;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.notification-read:hover,
.notification-unread:hover {
  background-color: rgb(241, 241, 241);
}

.user-settings-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.user-settings-modal-content {
  border-radius: 3px;
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 3em;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  position: relative;
}
.user-settings-modal-content input[type="email"],
.user-settings-modal-content input[type="password"] {
  justify-content: center;
  outline: none;
  border-style: none;
  border-bottom: 1px solid black;
  margin-block-end: 1.33em;
  width: 18vw;
}

.navbar-search {
  position: absolute;
  right: 3em;
  top: 1em;
  z-index: 1;
}
