.new-task-form form {
  justify-content: center;
}

.new-task-form form input[type="text"]::placeholder {
  font-size: large;
}
.new-task-form form h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

.new-task-form form textarea {
  resize: vertical;
  outline: none;
  width: 88%;
  margin-block-end: 1.33em;
}
.new-task-form form label {
  font-size: 3em;
  margin-left: 3vw;
}

.new-task-files {
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-task-file-names {
  font-size: 12px;
  font-style: italic;
  color: rgb(117, 117, 117);
  vertical-align: super;
}
