.project-banner {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #13293d;
  color: white;
}

.project-hub-menu input[type="text"] {
  justify-content: center;
  outline: none;
  border-style: none;
  border-bottom: 1px solid black;
  margin-block-end: 1.33em;
  width: 15vw;
}

.new-task-modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.new-task-modal-content {
  border-radius: 3px;
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 3em;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  position: relative;
}

.project-hub-body {
  display: flex;
  justify-content: center;
}
.project-tasks {
  width: 50%;
  padding: 0 2vw;
}

.project-hub-no-tasks {
  height: 3em;
  border: 1px rgb(117, 117, 117) solid;
  border-radius: 3px;
  padding: 0em 1em 1em 1em;
  margin-bottom: 1em;
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-hub-no-tasks button {
  background-color: rgb(248, 248, 248);
}

.project-hub-new-tasks,
.project-hub-in-progress-tasks,
.project-hub-on-hold-tasks,
.project-hub-completed-tasks {
  border: 1px rgb(117, 117, 117) solid;
  border-radius: 3px;
  padding: 0em 1em 1em 1em;
  margin-bottom: 1em;
  background-color: rgb(248, 248, 248);
}
