body {
  background-color: #bbb;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.navbar {
  background-color: #eee;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navbar-buttons {
  display: flex;
  justify-content: space-around;
}
.navbar-buttons a {
  margin: 0 5px;
}

.icon-menu {
  background-color: #fff;
  position: absolute;
  left: 1vw;
  z-index: 1;
}
.icon-menu-header {
  display: flex;
}
.task-page {
  display: flex;
}
.task-body {
  position: relative;
}

.task-posts {
  display: flex;
}
.task-posts img {
  height: 90px;
}

.task-menu div {
  margin-bottom: 15px;
}

.project-hub-body {
  display: flex;
  justify-content: space-between;
}
