body {
  background-color: rgb(253, 253, 253);
  margin: 0;
}
* {
  font-family: "Montserrat", sans-serif;
}
* a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.navbar {
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
}

.navbar-buttons {
  display: flex;
  justify-content: center;
  padding: 10px 10px 0px 10px;
}
.navbar-buttons div {
  padding: 0px 2vw 0px 2vw;
  font-weight: bold;
}
.navbar-buttons a {
  margin: 0 5px;
}

.icon-menu {
  background-color: rgb(248, 248, 248);
  border: 1px grey solid;
  border-radius: 7px;
  position: absolute;
  width: 30vw;
  height: 70vh;
  overflow-y: auto;
  left: 1vw;
  z-index: 1;
}
.icon-menu::-webkit-scrollbar {
  display: none;
}
.icon-menu-header {
  display: flex;
}
.project-hub-body {
  display: flex;
  justify-content: center;
}
.navbar-user {
  display: flex;
}
.user-icon {
  font-size: 3vw;
}
.unread-notifications-count {
  border-radius: 50%;
  background-color: rgb(187, 40, 40);
  color: white;
  font-weight: bold;
  text-align: center;
  height: 3vh;
  width: 3vh;
}

.notification-unread {
  font-weight: bold;
}
.notification-read {
  font-weight: lighter;
}
.notification-read:hover,
.notification-unread:hover {
  background-color: rgb(241, 241, 241);
}
